# Java files
*.class
*.jar
*.war
*.ear

# Eclipse files
.project
.classpath
.settings/
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.metadata
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
